COMPOSE_PROJECT_NAME=localforge-dev

DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=<GENERATED>
DJANGO_JWT_SIGNING_KEY=<GENERATED>
DJANGO_API_THROTTLE_IDENTITY_HMAC_KEY=<GENERATED>
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,localforge.localhost,django-uv5n2,django-metrics-nb4xt
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://localforge.localhost:8080
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localforge.localhost:8080
DJANGO_CORS_ALLOW_CREDENTIALS=true
DJANGO_API_DOCUMENTATION_ENABLED=true
DJANGO_TRUSTED_PROXY_NETWORKS=10.89.2.0/24
DJANGO_API_REQUEST_BODY_MAX_BYTES=1048576
DJANGO_API_AUTHENTICATION_THROTTLE_RATE=30/minute
DJANGO_API_AUTHENTICATED_READ_THROTTLE_RATE=120/minute
DJANGO_API_ANONYMOUS_THROTTLE_RATE=60/minute
DJANGO_API_BOUNDARY_ADDRESS_THROTTLE_RATE=600/minute
DJANGO_WEBSOCKET_APPLICATION_MAX_MESSAGE_BYTES=65536
DJANGO_WEBSOCKET_CONNECTION_THROTTLE_RATE=30/minute
DJANGO_WEBSOCKET_CONNECTION_ADMISSION_TIMEOUT_SECONDS=5
DJANGO_JWT_ACCESS_TOKEN_LIFETIME_SECONDS=300
DJANGO_JWT_REFRESH_TOKEN_LIFETIME_SECONDS=86400
DJANGO_TOKEN_LOGIN_ACCOUNT_THROTTLE_RATE=5/minute
DJANGO_TOKEN_LOGIN_ADDRESS_THROTTLE_RATE=30/minute
DJANGO_USER_REGISTRATION_ADDRESS_THROTTLE_RATE=5/minute
DJANGO_USER_REGISTRATION_MINIMUM_RESPONSE_DURATION_SECONDS=0.200
DJANGO_ACCOUNT_ACTIVATION_TOKEN_LIFETIME_SECONDS=86400
DJANGO_ACCOUNT_ACTIVATION_RESEND_ADDRESS_THROTTLE_RATE=30/hour
DJANGO_ACCOUNT_ACTIVATION_RESEND_ACCOUNT_THROTTLE_RATE=3/hour
DJANGO_PASSWORD_RESET_TOKEN_LIFETIME_SECONDS=86400
DJANGO_PASSWORD_RESET_MINIMUM_RESPONSE_DURATION_SECONDS=0.200
DJANGO_PASSWORD_RESET_ADDRESS_THROTTLE_RATE=30/hour
DJANGO_PASSWORD_RESET_ACCOUNT_THROTTLE_RATE=3/hour
DJANGO_USERNAME_RESET_TOKEN_LIFETIME_SECONDS=86400
DJANGO_USERNAME_RESET_MINIMUM_RESPONSE_DURATION_SECONDS=0.200
DJANGO_USERNAME_RESET_ADDRESS_THROTTLE_RATE=30/hour
DJANGO_USERNAME_RESET_ACCOUNT_THROTTLE_RATE=3/hour
DJANGO_LOG_LEVEL=INFO
DJANGO_TIME_ZONE=UTC
LOCALFORGE_WAIT_SERVICES=postgres postgres-replica valkey-cache valkey-channels rabbitmq seaweedfs mailpit
LOCALFORGE_WAIT_TIMEOUT=120
UVICORN_WORKERS=2
UVICORN_WEBSOCKET_MAX_SIZE_BYTES=131072

POSTGRES_DB=localforge
POSTGRES_USER=localforge_app
POSTGRES_PASSWORD=<GENERATED>
POSTGRES_HOST=postgres-pg3ka
POSTGRES_PORT=5432
POSTGRES_REPLICA_HOST=postgres-replica-pg6vy
POSTGRES_REPLICA_PORT=5432
POSTGRES_REPLICATION_ALIAS=postgres-primary-nd9pc
POSTGRES_REPLICATION_CIDR=10.89.4.0/24
POSTGRES_REPLICATION_USER=localforge_repl
POSTGRES_REPLICATION_PASSWORD=<GENERATED>
POSTGRES_REPLICATION_SLOT=localforge_standby

PGBACKREST_STANZA=localforge
LOCALFORGE_BACKUP_FULL_SCHEDULE=0 2 * * 0
LOCALFORGE_BACKUP_DIFF_SCHEDULE=0 2 * * 1-6
LOCALFORGE_BACKUP_WAIT_SECONDS=180
PGBACKREST_REPO1_RETENTION_FULL=2
PGBACKREST_REPO1_RETENTION_DIFF=6
PGBACKREST_ARCHIVE_TIMEOUT=120

PGADMIN_DEFAULT_EMAIL=dev@localforge.invalid
PGADMIN_DEFAULT_PASSWORD=<GENERATED>
PGADMIN_LISTEN_ADDRESS=0.0.0.0
PGADMIN_DISABLE_POSTFIX=True
PGADMIN_REPLACE_SERVERS_ON_STARTUP=True
PGADMIN_SERVER_JSON_FILE=/pgadmin4/servers.json
PGADMIN_CONFIG_ALLOW_SPECIAL_EMAIL_DOMAINS=["invalid"]
PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED=False

VALKEY_CACHE_HOST=valkey-cache-vc5tn
VALKEY_CACHE_PORT=6379
VALKEY_CACHE_PASSWORD=<GENERATED>
VALKEY_CACHE_DB=0
VALKEY_RESULTS_DB=1
VALKEY_CACHE_MAXMEMORY=256mb
VALKEY_CACHE_MAXMEMORY_POLICY=allkeys-lru

VALKEY_CHANNELS_HOST=valkey-channels-vh8dm
VALKEY_CHANNELS_PORT=6379
VALKEY_CHANNELS_PASSWORD=<GENERATED>

RABBITMQ_HOST=rabbitmq-rq4sx
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=localforge_broker
RABBITMQ_DEFAULT_PASS=<GENERATED>
RABBITMQ_DEFAULT_VHOST=localforge

CELERY_BROKER_URL=<GENERATED>
CELERY_RESULT_BACKEND=<GENERATED>
CELERY_TASK_ALWAYS_EAGER=false
CELERY_DEFAULT_QUEUE=localforge.default
CELERY_SLOW_QUEUE=localforge.slow
CELERY_DEAD_LETTER_QUEUE=localforge.dead-letter
CELERY_WORKER_CONCURRENCY=2
CELERY_WORKER_PREFETCH_MULTIPLIER=1
CELERY_WORKER_SHUTDOWN_TIMEOUT_SECONDS=300
CELERY_WORKER_HEALTH_TIMEOUT_SECONDS=10
FLOWER_BASIC_AUTH=<GENERATED>

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailpit-mp6gb
EMAIL_PORT=1025
MAILPIT_WEB_PORT=8025
DEFAULT_FROM_EMAIL=no-reply@localforge.invalid
DJANGO_SITE_NAME=LocalForge
DJANGO_SITE_URL=http://localforge.localhost:8080

S3_ENDPOINT_URL=http://seaweedfs-sw9cr:8333
S3_ACCESS_KEY_ID=<GENERATED>
S3_SECRET_ACCESS_KEY=<GENERATED>
S3_BUCKET_NAME=localforge-media
S3_REGION_NAME=us-east-1

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=<GENERATED>
PROMETHEUS_RETENTION_TIME=7d
LOKI_RETENTION_PERIOD=168h

TRAEFIK_DASHBOARD_PASSWORD=<GENERATED>
TRAEFIK_DASHBOARD_AUTH=<GENERATED>
